.frame-pngtreevectorvalidicon37855851-container {
  min-height: 100vh;
}
.frame-pngtreevectorvalidicon37855851-dummy-container {
  width: 100%;
  height: 900px;
}
.frame-pngtreevectorvalidicon37855851-i-m-a-g-e-pngtreevectorvalidicon37855851 {
  width: 17px;
  height: 17px;
  position: relative;
  box-sizing: content-box;
  border-color: rgba(83, 0, 122, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
}
