.rectangle26-container {
  min-height: 100vh;
}
.rectangle26-dummy-container {
  width: 100%;
  height: 900px;
}
.rectangle26-rectangle26 {
  width: 707px;
  height: 117px;
  position: relative;
  border-color: transparent;
  border-radius: 57px;
}
