.rectangle25-container {
  min-height: 100vh;
}
.rectangle25-dummy-container {
  width: 100%;
  height: 900px;
}
.rectangle25-rectangle25 {
  width: 707px;
  height: 117px;
  position: relative;
  border-color: transparent;
  border-radius: 57px;
}
