.rectangle28-container {
  min-height: 100vh;
}
.rectangle28-dummy-container {
  width: 100%;
  height: 900px;
}
.rectangle28-rectangle28 {
  width: 298px;
  height: 84px;
  position: relative;
  border-color: transparent;
  border-radius: 57px;
}
