{% extends 'base.html.twig' %}

{% block title %}Murasaki
{% endblock %}

{% block body %}
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
	    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

	<link href="{{ asset('css/categorie.css') }}" type="text/css" rel="stylesheet">
	<link href="{{ asset('css/styleguide.css') }}" type="text/css" rel="styleguide">
	<link href="{{ asset('css/navbar.css') }}" type="text/css" rel="stylesheet">

		<div class="page-d-accueil screen">
		<div class="overlap-group">
					<div class="rectangle1st">
		<div class="topnav">
			<img class="blurry-abstract-1" src="css/images/1/blurry-abstract-1.png" alt="blurry-abstract 1" width="auto" height="auto"/>
						<img class="rectangle-55" src="css/images/1/rectangle-55.svg" alt="rectangle 55"/>
			</div>
            
	<title>Navigation Bar</title>
	<link rel="stylesheet" type="text/css" href="style.css">
<id="main-box">
		<div class="bar">
			<ul>
				<li class=""><a>Accueil</a></li>
				<li class=""><a>Manga</a>
					<div class="about">
						<ul>
							<li><a>Genre</a></li>
							<li><a>#</a></li>
							<li><a>#</a></li>
							<li><a>Ressources</a></li>
						</ul>
					</div>
				</li>
				<li><a>Things to do</a>
					<div class="things">
						<ul>
							<li><a>Activites</a></li>
							<li><a>Parks</a></li>
							<li><a>Shops</a></li>
							<li><a>Events</a></li>
						</ul>
					</div>
				</li>
				<li><a>Contact</a></li>
				<li><a>News</a></li>
			</ul>
            
		</div> <!--end of .bar-->
					<script src="https://cdn.lordicon.com/fudrjiwc.js"></script>
<lord-icon
    src="https://cdn.lordicon.com/ljvjsnvh.json"
    trigger="hover"
    style="width:50px;height:50px;top:-163px;left:1185px">
</lord-icon>
			<div class="connexion valign-text-middle">Connexion</div>

		</div>
		




			{% include "navbar.html.twig" %}



{% endblock %}

