{% extends 'base.html.twig' %}

{% block title %}Murasaki
{% endblock %}

{% block body %}
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
	    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

	<link href="{{ asset('css/categorie.css') }}" type="text/css" rel="stylesheet">
	<link href="{{ asset('css/styleguide.css') }}" type="text/css" rel="styleguide">
	<link href="{{ asset('css/navbar.css') }}" type="text/css" rel="stylesheet">

		<div class="page-d-accueil screen">
		<div class="overlap-group">
					<div class="rectangle1st">
		<div class="topnav">
			<img class="blurry-abstract-1" src="css/images/1/blurry-abstract-1.png" alt="blurry-abstract 1" width="auto" height="auto"/>
						<img class="rectangle-55" src="css/images/1/rectangle-55.svg" alt="rectangle 55"/>
			</div>
            
	<title>Navigation Bar</title>
	<link rel="stylesheet" type="text/css" href="style.css">
<id="main-box">
		<div class="bar">
			<ul>
				<li href=""><a>Accueil</a></li>
				<li class=""><a>Manga</a>
					<div class="about">
						<ul>
							<li><a>Genre</a></li>
							<li><a>#</a></li>
							<li><a>#</a></li>
							<li><a>Ressources</a></li>
						</ul>
					</div>
				</li>
				<li><a>Things to do</a>
					<div class="things">
						<ul>
							<li><a>Activites</a></li>
							<li><a>Parks</a></li>
							<li><a>Shops</a></li>
							<li><a>Events</a></li>
						</ul>
					</div>
				</li>
				<li><a>Contact</a></li>
				<li><a>News</a></li>
			</ul>
            
		</div> <!--end of .bar-->
					<script src="https://cdn.lordicon.com/fudrjiwc.js"></script>
<lord-icon
    src="https://cdn.lordicon.com/ljvjsnvh.json"
    trigger="hover"
    style="width:50px;height:50px;top:-163px;left:1185px">
</lord-icon>
			<div class="connexion valign-text-middle">Connexion</div>

		


			{# CHECKBOX #}	
	<div class="rct" src="css/images/1/rectangle-46.svg">
<div class="search-advenced spoil-panel active" id="search-advenced">
<div class="form-checkbox col-12">
<div class="checkbox">
<input type="checkbox" name="genres[]" id="genre-1" title="" value="1">
<label for="genre-1">Action</label>
</div>
<div class="checkbox">
<input type="checkbox" name="genres[]" id="genre-3" title="" value="3">
<label for="genre-3">Amitié</label>
</div>
<div class="checkbox">
<input type="checkbox" class="input.larger" name="genres[]" id="genre-2" title="" value="2">
<label for="genre-2">Aventure</label>
</div>
<div class="checkbox">
<input type="checkbox" name="genres[]" id="genre-4" title="" value="4">
<label for="genre-4">Combat</label>
</div>
<div class="checkbox">
<input type="checkbox" name="genres[]" id="genre-5" title="" value="5">
<label for="genre-5">Comédie</label>
</div>
<div class="checkbox">
<input type="checkbox" name="genres[]" id="genre-6" title="" value="6">
<label for="genre-6">Contes &amp; Récits</label>
</div>
<div class="checkbox">
<input type="checkbox" name="genres[]" id="genre-7" title="" value="7">
<label for="genre-7">Cyber &amp; Mecha</label>
</div>
<div class="checkbox">
<input type="checkbox" name="genres[]" id="genre-8" title="" value="8">
<label for="genre-8">Dark Fantasy</label>
</div>
<div class="checkbox">
<input type="checkbox" name="genres[]" id="genre-9" title="" value="9">
<label for="genre-9">Drame</label>
</div>
<div class="checkbox">
<input type="checkbox" name="genres[]" id="genre-10" title="" value="10">
<label for="genre-10">Ecchi</label>
</div>
<div class="checkbox">
<input type="checkbox" name="genres[]" id="genre-11" title="" value="11">
<label for="genre-11">Educatif</label>
</div>
<div class="checkbox">
<input type="checkbox" name="genres[]" id="genre-12" title="" value="12">
<label for="genre-12">Énigme &amp; Policier</label>
</div>
<div class="checkbox">
<input type="checkbox" name="genres[]" id="genre-13" title="" value="13">
<label for="genre-13">Épique &amp; Héroique</label>
</div>
<div class="checkbox">
<input type="checkbox" name="genres[]" id="genre-14" title="" value="14">
<label for="genre-14">Espace &amp; Sci-Fiction</label>
</div>
<div class="checkbox">
<input type="checkbox" name="genres[]" id="genre-15" title="" value="15">
<label for="genre-15">Familial &amp; Jeunesse</label>
</div>
<div class="checkbox">
<input type="checkbox" name="genres[]" id="genre-16" title="" value="16">
<label for="genre-16">Fantastique &amp; Mythe</label>
</div>
<div class="checkbox">
<input type="checkbox" name="genres[]" id="genre-30" title="" value="30">
<label for="genre-30">Fantasy</label>
</div>
<div class="checkbox">
<input type="checkbox" name="genres[]" id="genre-39" title="" value="39">
<label for="genre-39">Gastronomie</label>
</div>
<div class="checkbox">
<input type="checkbox" name="genres[]" id="genre-32" title="" value="32">
<label for="genre-32">Harem</label>
</div>
<div class="checkbox">
<input type="checkbox" name="genres[]" id="genre-18" title="" value="18">
<label for="genre-18">Historique</label>
</div>
<div class="checkbox">
<input type="checkbox" name="genres[]" id="genre-19" title="" value="19">
<label for="genre-19">Horreur</label>
</div>
<div class="checkbox">
<input type="checkbox" name="genres[]" id="genre-38" title="" value="38">
<label for="genre-38">Idols</label>
</div>
<div class="checkbox">
<input type="checkbox" name="genres[]" id="genre-36" title="" value="36">
<label for="genre-36">Inceste</label>
</div>
<div class="checkbox">
<input type="checkbox" name="genres[]" id="genre-20" title="" value="20">
<label for="genre-20">Magical Girl</label>
</div>
<div class="checkbox">
<input type="checkbox" name="genres[]" id="genre-21" title="" value="21">
<label for="genre-21">Musical</label>
</div>
<div class="checkbox">
<input type="checkbox" name="genres[]" id="genre-31" title="" value="31">
<label for="genre-31">Mystère</label>
</div>
<div class="checkbox">
<input type="checkbox" name="genres[]" id="genre-22" title="" value="22">
<label for="genre-22">Psychologique</label>
</div>
<div class="checkbox">
<input type="checkbox" name="genres[]" id="genre-34" title="" value="34">
<label for="genre-34">Romance</label>
</div>
<div class="checkbox">
<input type="checkbox" name="genres[]" id="genre-29" title="" value="29">
<label for="genre-29">School Life</label>
</div>
<div class="checkbox">
 <input type="checkbox" name="genres[]" id="genre-25" title="" value="25">
<label for="genre-25">Shôjo-Ai</label>
</div>
<div class="checkbox">
<input type="checkbox" name="genres[]" id="genre-26" title="" value="26">
<label for="genre-26">Shônen-Ai</label>
</div>
<div class="checkbox">
<input type="checkbox" name="genres[]" id="genre-23" title="" value="23">
<label for="genre-23">Sport</label>
</div>
<div class="checkbox">
<input type="checkbox" name="genres[]" id="genre-33" title="" value="33">
<label for="genre-33">Surnaturel</label>
</div>
<div class="checkbox">
<input type="checkbox" name="genres[]" id="genre-40" title="" value="40">
<label for="genre-40">Survival Game</label>
</div>
<div class="checkbox">
<input type="checkbox" name="genres[]" id="genre-35" title="" value="35">
<label for="genre-35">Thriller</label>
</div>
<div class="checkbox">
<input type="checkbox" name="genres[]" id="genre-41" title="" value="41">
<label for="genre-41">Tokusatsu</label>
</div>
<div class="checkbox">
<input type="checkbox" name="genres[]" id="genre-24" title="" value="24">
<label for="genre-24">Tranche de vie</label>
</div>
<div class="checkbox">
<input type="checkbox" name="genres[]" id="genre-37" title="" value="37">
<label for="genre-37">Triangle Amoureux</label>
</div>
<div class="checkbox">
<input type="checkbox" name="genres[]" id="genre-27" title="" value="27">
<label for="genre-27">Yaoi</label>
</div>
<div class="checkbox">
<input type="checkbox" name="genres[]" id="genre-28" title="" value="28">
<label for="genre-28">Yuri</label>
</div>
<div class="checkbox">
<input type="checkbox" name="genres[]" id="genre-42" title="" value="42">
<label for="genre-42">Isekai</label>
</div>
<div class="checkbox">
<input type="checkbox" name="genres[]" id="genre-43" title="" value="43">
<label for="genre-43">Magie</label>

</div>
</div>
</div>
	{# END OF CHECKBOX #}

		</div>
			{% include "navbar.html.twig" %}






{% endblock %}

